.wd-modules,
.wd-modules li {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 1em;
}

.wd-modules {
  margin: 5px;
  border-radius: 0%;
}

.wd-modules > li {
  background-color: #f5f5f5;
  border: 1px solid #c7cdd1 !important;
  border-left: none !important;
  border: none !important;
  border-radius: 0%;
}

.wd-modules > li > div {
  padding: 6px;
  border-radius: 0%;
}

.wd-modules > li > ul > li {
  padding: 5px;
  border-top: 1px solid #c7cdd1 !important;
  border-left: 2px solid green;
  border-radius: 0%;
}

.wd-modules > li {
  margin-bottom: 20px;
}

.red-button {
  background-color: #b12525;
  border-radius: 5px;
  color: white;
  margin: 0;
  padding: 0.7em;
  border: none;
  cursor: pointer;
  border: 1px solid #b12525;
  line-height: normal !important;
}

.float-right {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-right: 6px;
  padding: 10px 0;
}
